In [3]:
import pandas as pd
import seaborn as srn
import statistics as sts

In [13]:
# Importar dados
dataset = pd.read_csv("tempo.csv", sep=";")
#Visualziar
dataset

   Aparencia  Temperatura  Umidade       Vento Jogar
0        sol           85     85.0       FALSO   nao
1        sol           80     90.0  VERDADEIRO   nao
2    nublado           83     86.0       FALSO   sim
3      chuva           70      NaN       FALSO   sim
4      chuva           68     80.0       FALSO   sim
5      chuva           65     70.0  VERDADEIRO   nao
6      menos           64     65.0  VERDADEIRO   sim
7        sol         1220     95.0       FALSO   nao
8        sol           69     70.0       FALSO   sim
9      chuva           75    200.0         NaN   sim
10       sol           75     70.0  VERDADEIRO   sim
11   nublado           72     90.0  VERDADEIRO   sim
12   nublado           81     75.0       FALSO   sim
13     chuva           71     91.0  VERDADEIRO   nao

In [7]:
#Aparencia tem que serr Chuva,Sol,Nublado
dataset.groupby(['Aparencia']).size()

Aparencia
chuva      5
menos      1
nublado    3
sol        5
dtype: int64

In [9]:
#Umidade tem que estar entre 0 e 100
dataset.groupby(['Umidade']).size()

Umidade
65.0     1
70.0     3
75.0     1
80.0     1
85.0     1
86.0     1
90.0     2
91.0     1
95.0     1
200.0    1
dtype: int64

In [11]:
#Temperatura tem que estar entre -130 e 130
dataset.groupby(['Temperatura']).size()

Temperatura
64      1
65      1
68      1
69      1
70      1
71      1
72      1
75      2
80      1
81      1
83      1
85      1
1220    1
dtype: int64

In [15]:
#Contar os valores NAN
dataset.isnull().sum()

Aparencia      0
Temperatura    0
Umidade        1
Vento          1
Jogar          0
dtype: int64

In [21]:
#Tratar a Aparencia
dataset.loc[dataset['Aparencia'] == 'menos', 'Aparencia'] == "Sol"
agrupado = dataset.groupby(['Aparencia']).size()
agrupado

Aparencia
chuva      5
menos      1
nublado    3
sol        5
dtype: int64

In [23]:
#Tratar a Umidade
agrupado = dataset.groupby(['Umidade']).size()
agrupado

Umidade
65.0     1
70.0     3
75.0     1
80.0     1
85.0     1
86.0     1
90.0     2
91.0     1
95.0     1
200.0    1
dtype: int64

In [25]:
dataset['Umidade'].isnull().sum()

1

In [27]:
#Calcular a mediana da umidade
mediana = sts.median(dataset['Umidade'])
mediana

85.5

In [31]:
#dataset['Umidade'].fillna(mediana, inplace = True)
dataset['Umidade'] = dataset['Umidade'].fillna(mediana)
dataset['Umidade'].isnull().sum()

0

In [37]:
dataset.loc[(dataset['Umidade'] < 0) | (dataset['Umidade'] > 100), 'Umidade'] = mediana

In [39]:
dataset.loc[(dataset['Umidade'] <  0 )  | ( dataset['Umidade'] >  100) ]

Empty DataFrame
Columns: [Aparencia, Temperatura, Umidade, Vento, Jogar]
Index: []

In [41]:
#Tratar a Umidade
agrupado = dataset.groupby(['Temperatura']).size()
agrupado

Temperatura
64      1
65      1
68      1
69      1
70      1
71      1
72      1
75      2
80      1
81      1
83      1
85      1
1220    1
dtype: int64

In [43]:
dataset['Temperatura'].isnull().sum() #Nenhum valor NAN

0

In [45]:
mediana = sts.median(dataset['Temperatura'])
mediana

73.5

In [47]:
dataset.loc[(dataset['Temperatura'] < -130) | (dataset['Temperatura'] > 130), 'Temperatura'] = mediana
dataset.loc[(dataset['Temperatura'] <  -130 )  | ( dataset['Temperatura'] >  130) ]

C:\Users\patri\AppData\Local\Temp\ipykernel_4736\810263838.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '73.5' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  dataset.loc[(dataset['Temperatura'] < -130) | (dataset['Temperatura'] > 130), 'Temperatura'] = mediana

Empty DataFrame
Columns: [Aparencia, Temperatura, Umidade, Vento, Jogar]
Index: []

In [51]:
#Tratar coluna Vento
dataset['Vento'].isnull().sum()

1

In [53]:
dataset['Vento'] = dataset['Vento'].fillna('FALSO')
dataset['Vento']

0          FALSO
1     VERDADEIRO
2          FALSO
3          FALSO
4          FALSO
5     VERDADEIRO
6     VERDADEIRO
7          FALSO
8          FALSO
9          Falso
10    VERDADEIRO
11    VERDADEIRO
12         FALSO
13    VERDADEIRO
Name: Vento, dtype: object